---
layout: default
title: Homepage
seo:
 title:
 description:
 keywords:
page_blocks:
 -
  _id: banner
  title: Banner
  bg-img:
  banner-text: This is a subtitle
---
<section>
    <div>
        <h2> Welcome to your new favourite blog </h2>
        <p> Lorem, ipsum dolor sit amet consectetur. </p>
    </div>

</section>
<!-- <h1>Temporary this is HOMEPAGE</h1> -->
<!-- {{site.posts[0].title}} -->

	
{% for block in page.page_blocks %}
    {% include /blocks/{{block._id}}.html %}
{% endfor %}

<!-- 
<section class="grid grid-cols-3 ">
    {% for dave in site.posts %}
   
    <div class="border border-black p-2"> 
        <a href="{{dave.url}}"> 
            <img src="{{ dave.img }}" />
        </a>
        <h2> {{ dave.category }}</h2>
        <a href="{{dave.url}}"> 
            <h2> {{ dave.title }} </h2>
        </a> 
        <h2> {{ dave.author }}</h2>
     </div>
    {% endfor %}
 -->
