---
layout: default
title: Homepage
seo: 
 title:
 description:
 keywords:
page_blocks:
---
<h1 class="text-4xl font-bold text-slate-900">Welcome to your homepage!</h1>

{{site.posts[0].title}}

	
{% for block in page.page_blocks %}
    {% include /blocks/{{block._id}}.html %}
{% endfor %}


<section class="grid grid-cols-3 ">
    {% for dave in site.posts %}
   
    <div class="border border-black p-2" > 
        <a href="{{dave.url}}"> 
            <img src="{{ dave.img }}"/>
        </a>
        <h2 > {{ dave.category }}</h2>
        <a href="{{dave.url}}"> 
            <h2> {{ dave.title }} </h2>
        </a> 
        <h2> {{ dave.author }}</h2>
     </div>
    {% endfor %}
</section>