/* ----------- CSS RESET --------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

/* TEMPORARY WHILE USING SIMPLE TAILWIND */

.aspect-portrait {
    padding-bottom: 110%;
}

.aspect-landscape {
    padding-bottom: 60%;
}