---
layout: default
title: time
author: gina
category: places
date: 2020-3-2
img: >-
 https://picsum.photos/200/300
text_html: >-
    <h2>bob was here</h2> <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus soluta ea dolore, nulla, quis perspiciatis praesentium nam reiciendis odit veniam, earum ut? Eligendi aperiam nulla ipsum, alias nesciunt quod perferendis.</p>
banner-text: >-
    <h1> This is the banner text </h1>

bg-img: >-
  https://i.picsum.photos/id/66/3264/2448.jpg?hmac=H9yvGug9-Lk5f-1qZqs6dEV-Yd40jFOIC7oudo4eBK4
video:
  video-type: youtube
  youtube-id: R10vLWGceGM
  vimeo-id: 762501385

gallery-column-count: 4
gallery:
  - image: https://picsum.photos/100/300
    column-width: 1
    aspect-ratio: landscape
  - image: https://picsum.photos/300/700
    column-width: 1
    aspect-ratio: landscape
  - image: https://picsum.photos/400/800
    column-width: 1
    aspect-ratio: landscape
  - image: https://picsum.photos/600/500
    column-width: 1
    aspect-ratio: landscape
  - image: https://picsum.photos/900/800
    column-width: 1
    aspect-ratio: landscape
  - image: https://picsum.photos/700/500
    column-width: 1
    aspect-ratio: landscape

cta_html: >-
  <h2>This is the call to action</h2> <p>hello there Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempora harum dignissimos quibusdam exercitationem, sint, ipsum, excepturi animi voluptatum veritatis nesciunt quia temporibus inventore libero unde consequuntur incidunt. Quod, sunt! </p> 
---

<!-- banner -->
 <section class="p-20 h-72"> 
   <div bg-cover bg-center text-zinc-100 flex justify-center  items-center style="background-image:url('{{page.bg-img}}')">
    <h3 class="p-20"> {{page.banner-text}} </h3>
   </div>
     
     <!-- <img src="{{bg-img}}"> -->

 </section>
<!-- text content --> 

<section>
  {{ page.text_html}}
</section>



<!-- video -->

<section class="p-20">

  {% if page.video.video-type == "youtube" %}

  <div class="plyr__video-embed relative" id="player">
    <iframe
      src="https://www.youtube.com/embed/{{ page.video.youtube-id }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
      allowfullscreen
      allowtransparency
      allow="autoplay"
    ></iframe>

    {% elsif page.video.video-type == "vimeo" %}

    <div class="plyr__video-embed relative" id="player">
      <iframe
        src="https://player.vimeo.com/video/{{ page.video.vimeo-id }}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
        allowfullscreen
        allowtransparency
        allow="autoplay"
      ></iframe>
    </div>

    {% endif %}
    
  </div>
</section>
<!-- gallery -->
<section class="p-2">
  <div class="gallery grid grid-cols-{{page.gallery-column-count}} gap-5 ">
    {% for item in page.gallery %}
      <div class="col-span-{{item.column-width}}">
        <div class="aspect-{{item.aspect-ratio}} bg-cover bg-center" style="background-image:url('{{item.image}}')" ></div>
      </div>

  {% endfor %}
  </div>
</section>
<!-- CTA -->
<section class="flex place-content-center text-center p-48" >
  <div class="pt ">
    <h2 class="editable"> win a prize</h2>
    <p class="editable"> click and subscribe </p>
    <a href="#" class = " editable"> this is a button</a>
  </div>
 
</section>
<!-- slider -->

<!-- newsletter signup -->

