<section>
    <div class="p-8 uppercase tracking-widest text-center text-4xl text-slate-700 border">
      <h2>Related Posts</h2>
        <!-- <h3>{{block.title}}</h3> -->
    </div>
    <div>
        <span class="author"> {{block.author}} </span>
        <span> </span>

    
        <div class="grid md:grid-cols-4 p-20 gap-8">
            {% for post in site.posts limit:2 %}
                <a href="{{post.url}}" class="md:col-span-2">
                  <div class="bg-image aspect-landscape object-center bg-cover" style="background-image:url({{post.img}})"> 
                  </div>
                  <div>
                    <h3 class="capitalize opacity-50 pt-8 text-sm font-bold py-0.5 pt-2 flex justify-left "> {{post.category}} </h3>
                  </div>
                  <div>
                    <span class="capitalize text-2xl py-4 flex justify-left ">{{post.title}}</span>
                  </div>
                  <div>
                    
                      {{post.description}}
                    
                  </div>

                   <div>
                    <span class=""> {{post.date | date: "%m.%d.%Y" }} 
                    </span>
                   </div>
                 <p class="underline underline-offset-7 pt-6">read more</p>
                </a>
           
                
            {% endfor %}
            {% for post in site.posts limit:4 offset:2 %}
          
            <a href="{{post.url}}" class="col-span-1">
              <div class="bg-image bg-cover aspect-landscape " style="background-image:url({{post.img}})"> 
              </div>
              <div>
                <h3 class="uppercase opacity-50 text-xs pt-4 py-0.5 pt-2 flex justify-left font-bold  "> {{post.category}} </h3>
              </div>
              <div>
                <span class="capitalize  text-2xl py-4 flex justify-left">{{post.title}}</span>
              </div>
              <div>
                
                  {{post.description}}
                
              </div>
<!-- 
               <div>
                <span class=""> {{post.date | date: "%m.%d.%Y" }} 
                </span>
               </div> -->
             <p class="underline underline-offset-7 pt-6">read more</p>
            </a>
       
            
        {% endfor %}
          </div>	
        
        
    </div>

</section>