<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/style.css">
    
    
    
    <title>{{page.title}}</title>

    <!-- SEO metadata  -->
    <title>{{page.seo.title | default: site.data.site-settings.seo.title}}</title> 
    <meta name="description" content="{{ page.seo.description | default: site.data.site-settings.seo.description }}">
    <meta name="keywords" content="{{ page.seo.keywords | default: site.data.site-settings.seo.keywords }}">

    <!-- Meta for social sharing -->
    <meta property="og:title" content="{{ page.title | default: site.data.site-settings.seo.title }}">
    <meta property="og:type" content="{{ page.title | default: site.data.site-settings.seo.type }}">
    <meta property="og:description" content="{{ page.seo.description | default: site.data.site-settings.seo.description }}"> 
    <meta property="og:image" content="{{ page.seo.social_image | default: site.data.site-settings.seo.social_image }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:card" content="{{ page.seo.twitter_card | default: site.data.site-settings.seo.twitter_card }}">
    <meta name="twitter:description" content=" {{ page.seo.twitter_description | default: site.data.site-settings.seo.twitter_description}} ">
    <meta name="og:site_name" content="{{ site.data.site-settings.seo.site_name }}">
    <link rel="icon" type="image/png" href="{{ site.data.site-settings.seo.favicon_image }}">


    {% if page.seo.hide-from-google == true %}
        <meta name="robots" content="noindex, nofollow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}
</head>