<section class="p-20">

    {% if page.video.video-type == "youtube" %}
  
    <div class="plyr__video-embed relative" id="player">
      <iframe
        src="https://www.youtube.com/embed/{{ page.video.youtube-id }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        allow="autoplay"
      ></iframe>
  
      {% elsif page.video.video-type == "vimeo" %}
  
      <div class="plyr__video-embed relative" id="player">
        <iframe
          src="https://player.vimeo.com/video/{{ page.video.vimeo-id }}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
          allowfullscreen
          allowtransparency
          allow="autoplay"
        ></iframe>
      </div>
  
      {% endif %}
      
    </div>
  </section>