---
layout: default
---

<!----------------------------------- social links-------------------- -->
	<nav class="bg-black p-4 text-xl sticky inset-y-1/4 flex flex-col inline-flex ">
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
			<i class="text-white pb-3.5 fab fa-twitter"></i>
		</a>
		<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
			<i class="text-white pb-3.5  fab fa-facebook-f"></i>
		</a>
		<a href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
		  <i class="text-white  fab fa-pinterest-p"></i>
		</a>
	</nav>
	

<!----------------------------------- social links-------------------- -->	
{% for block in page.page_blocks %}
    {% include /blocks/{{block._id}}.html %}
{% endfor %}

<!---------------------------------text block  -------------------->


<!----------------------------------- Related Posts-------------------- -->
<section>
	
	<div>
		
		{% assign pageCategory = page.categories[0] %}

{{pageCategory}}

		{% assign relevant = site.categories[pageCategory] | where_exp:"post","post.url != page.url" %}

        {{pageCategory}}

	<div class="grid grid-cols-3">
  		{% for post in relevant limit:3 %}
		
      		<a href="{{post.url}}">
        		<div class="bg-image aspect-square" style="background-image:url({{post.img}})"> </div>
        		<span class="author">by {{post.author}}</span> //
        		<span class="author"> {{post.date | date: "%m.%d.%Y" }} </span>
        		<h3> {{post.title}} </h3>
      		</a>
      		
  		{% endfor %}
		</div>	
	</div>

</section>

